@model IEnumerable<OnlineMuseum.Models.VehicleCategoryPoco>
@{
    ViewBag.Title = "MuseumCategories";
}

<h2>MuseumCategories</h2>

<table class="table table-hover">

    @foreach (var item in Model)
    {
        <tr>
            <td onclick="location.href ='@Url.Action("GetVehicles", "Home", new { id = item.Id })'">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        </tr>
    }
</table>



@Html.ActionLink("Back to home page", "BackToHomePage", null, new { @class = "btn btn-default" })


