@model IEnumerable<OnlineMuseum.Models.VehicleCategoryPoco>
@{
    ViewBag.Title = "MuseumCategories";
}

<h2>MuseumCategories</h2>

<table>

    @foreach (var item in Model)
        {
        <tr>
            <td onclick="location.href ='@Url.Action("GetAllVehicles", "Home", new { id = item.Id })'">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        </tr>
        }
</table>

@Html.ActionLink("Back to home page", "BackToHomePage")


